



:root {

    /*--COLOR--*/
    --color-greenobscuro: #18604A;
    --color-grass: #29C484;
    --color-lagune: #B0F5E2; 
    --color-menthe: #B0F6E3;
    --color-grey: #BEBEBE; 
    --color-greylight: #F1F1F1;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-pluie: #6E99A9;
    --color-aiguemarine: #559CFF;
    --color-framboisedesbois: #B83985;
    --color-aqua: #A9F4FE;
    --color-blue: #9DDAEF;
    --color-fushia: #FE48D6;
    --color-framboise: #FB719B;
    --color-bonbon: #FFDAE8;
    --color-yellow: #FDC557;
    --opacity: 0.8;

    /*--SPACES--*/

    --space-xsmall: 6px;
    --space-small: 12px;
    --space-normal: 18px;
    --space-medium: 36px; 
    --space-large: 42px;
    --splace-xlarge: 48px;


    /*--PADDING--*/

    --padding-primary: 72px, 19px, 72px, 19px;
    --padding-secondary: 65px, 7px, 65px, 7px;

    /*--BORDER AND RADIUS--*/
    --border-radius-boutton-primary: 33px;
    --border-primary-hover: 1px;
    --border-radius-back: 50px 0px 0px 50px;
    --border-radius-20: 20px;
    --border-radius-img: 120px;
    --border-secondary: 1px;
    --border-secondary-radius: 4px;
    --border-radius-navigation-barre: 88px;
    --border-radius-photo-contact: 138.5px;
    --border-radius-images-groupe: 5px, 120px, 120px, 0px;
    --border-radius-photo-carré: 50px;
    --border-radus-photo-rectangle: 15px, 15px, 0px, 15px;


    /*--FONT--*/
    --font-family: 'nunito', serif;
    --font-style-habitude: normal;
    --font-style-gras: bold;
    --font-color: #18604A;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-18: 18px;
    --font-size-14: 14px;
    --font-size-12: 12px;

/*--SHADOWS--*/
    --box-shadow-primary: 0px 4px 4px rgba(0,0,0,0.25);
    --box-shadow-secondary-hover: 4px 8px 8px rgba(0,0,0,0.25);
    --bow-shadow-1: 3px 3px 6px rgba(16,16,16,0.33);

 

    /*--MARGIN--*/

    --margin-left-background: 117px;
    --margin-top-nackground: 138px;
    --margin-top-h1: 5px;
    --margin-top-h2: 8px;
    --margin-top-concert: 200px;
    --margin-top-welove: 30px;
    --margin-top-saywho: 550px;
    --margin-top-say: 100px;
}





.container 
{
    background-color: var(--color-greylight);
    width: 375px;
    height: 812px;
    position: relative;
    align-items: flex-start;
    display: flex;

}



.formbackground {
    position: absolute;
    width:258px; 
    height:674px;
    border-radius: var(--border-radius-back);
    margin-left: var(--margin-left-background);
    margin-top: var(--margin-top-nackground);
    background: linear-gradient(123.46deg, #B0F5E2 21.29%, #11BB74 94.65%);
}


h1 {
    font-size: var(--font-size-36);
    font-style: var(--font-style-gras);
    font-family: var(--font-family);
    color: var(--color-grey);
    height: 45px;
}


h2 {
font-style: var(--font-style-gras);
font-family: var(--font-family);
color: var(--color-greenobscuro);
font-size: var(--font-size-24);
height: 29px;
text-decoration: line-through;
margin-top: var(--margin-top-h1);
}


h3 {
    font-size: var(--font-size-14);
    font-style: var(--font-style-gras);
    height: 17px;
    margin-top: var(--margin-top-h2);
    font-family: var(--font-family);
    color: var(--color-greenobscuro);
    
}



.textgroup {
    position: absolute;
    padding-left: 100px;
    padding-top: 10px;
}

#concerts{
position: relative;
display: flex;
text-align: left;
width: 500px;
height: 200px;
margin-top: var(--margin-top-concert);
border-radius: var(--border-radius-20);

}

.welove {
    margin-top: var(--margin-top-welove);
    width: 176px;
    height: 126px;
}


.textwelove {
    height: 176px;
    width: 170px;
    padding-left: var(--space-small);
}

#fond {
    position: relative;
}

.picto {
    position: absolute;
    left: 260px;
    top: -80px;
}


#saywho{
position: relative;
display: flex;
text-align: left;
width: 500px;
height: 200px;
margin-top: var(--margin-top-saywho);
border-radius: var(--border-radius-20);
left: -365px;
}

.say{
    margin-top: var(--margin-top-say);
    width: 176px;
    height: 126px;

}

.textsaywho {
    height: 176px;
    width: 170px;
    padding-left: var(--space-small);
    padding-top: 65px;
}




img{
    
    border-radius: var(--border-radius-img);
    padding-right: 100px;
    top: 350px;
}

p {
    font-style: normal;
    font-size: var(--font-size-12);
   
    font-family: var(--font-family);
    color: var(--color-greenobscuro);

}


.soustitrecolor {
    font-size: var(--font-size-36);
    font-family: var(--font-family);
    color: var(--color-black);
    }
    
    .soustitreds {
    font-size: var(--font-size-36);
    font-family: var(--font-family);
    color: var(--color-black);
    }
    
    .soustitrebutton {
        font-size: var(--font-size-36);
        font-family: var(--font-family);
        color: var(--color-black);  
    }
    

    .soustitresection {
        font-size: var(--font-size-24);
        font-family: var(--font-family);
        color: var(--color-black);  
    }

    .soustitrespace {
        font-size: var(--font-size-36);
        font-family: var(--font-family);
        color: var(--color-black); 
    }



    .soustitreeffect {
        font-size: var(--font-size-36);
        font-family: var(--font-family);
        color: var(--color-black); 
    }

/*DESIGN SYSTEM*/

body {
    display: flex
}

main { 
    display: block;
    padding: 50px;
    margin-left: 100px;
    height:3100px ;
    width: 750px;
    border-radius: var(--border-radius-20);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}  
    

#designsystem {
    margin-top: 50px;
    
}


.swatches {
    height: 3em;
    width: 3em;
}

.greenobscuro {
    background-color: var(--color-greenobscuro);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurgreenobscuro {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.grass {
    background-color: var(--color-grass);
    margin-left: 20px;
    margin-top:20px;
}

.couleurgrass {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}


.lagune {
    background-color: var(--color-lagune);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurlagune {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.menthe {
    background-color: var(--color-menthe);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurmenthe {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}



.greylight {
    background-color: var(--color-greylight);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurgreylight {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}


.grey {
    background-color: var(--color-grey);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurgrey {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}


.black {
    background-color: var(--color-black);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurblack {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}


.pluie {
    background-color: var(--color-pluie);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurpluie {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.aiguemarine {
    background-color: var(--color-aiguemarine);
    margin-left: 20px;
    margin-top: 20px;
}


.couleuraiguemarine {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.aqua {
    background-color: var(--color-aqua);
    margin-left: 20px;
    margin-top: 20px;
}

.couleuraqua {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.blue {
    background-color: var(--color-blue);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurblue {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}


.framboisedesbois {
    background-color: var(--color-framboisedesbois);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurframboisedesbois {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.fushia {
    background-color: var(--color-fushia);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurfushia {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.framboise {
    background-color: var(--color-framboise);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurframboise {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.bonbon {
    background-color: var(--color-bonbon);
    margin-left: 20px;
    margin-top: 20px;
}

.couleurbonbon {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

.yellow {
    background-color: var(--color-yellow);
    margin-left: 20px;
    margin-top: 20px;
}

.couleuryellow {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}

/*--DIV COULEURS BOUTTONS--*/

.buttonprimary{
    background-color: var(--color-pluie);
    width: 700px;
    height:200px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.buttonsecondary {
    background-color: var(--color-pluie);
    width: 700px;
    height:200px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}



/*--BOUTONS--*/

/*--PRIMARY--*/

.btn-primary {
    padding: var(--padding-primary);
    background: var(--color-white);
    border-radius: var(--border-radius-boutton-primary);
    width: 203px;
    height: 63px;
    left: 50px;
    top: 281px;
    font-size: var(--font-size-18);
    font-family: var(--font-family);
    color: var(--color-black);
    font-style: var(--font-style-habitude);
    text-align: center;
    border: none;
}


.leger {
    opacity: var(--opacity);
}

.btn-primary:hover {
    color: var(--color-white);
    background: none;
    border: solid;
    border-width: var(--border-primary-hover);
    border-color: var(--color-white);
}


.focus-only:focus {
    box-shadow: 4px 8px 8px rgba(0,0,0,0.25);
    background: var(--color-white);
    color: var(--color-black);
}

.btn-primary:active {
    background: var(--color-aiguemarine);
    color: var(--color-white);
    border: none;
}

.btn-primary:disabled {
    background: var(--color-white);
    opacity: var(--opacity);
    color: var(--color-black); 
}


/*--SECONDARY--*/




.btn-secondary {
    background: var(--color-white);
    border-width: var(--border-secondary);
    border-radius: var(--border-secondary-radius);
    font-style: var(--font-style-habitude);
    font-family: var(--font-family);
    font-size: var(--font-size-18);
    text-align: center;
    color: var(--color-pluie);
    height: 41px;
    width: 191px;
    padding: var(--padding-secondary);
}

.btn-secondary:hover {
    color: var(--color-white);
    background: none;
    border: solid;
    border-width: var(--border-secondary);
    border-color: var(--color-white);
}

.btn-secondary:active {
    background: var(--color-framboisedesbois);
    color: var(--color-white);
    border: none;
}

.focus-only:focus {
    box-shadow: 4px 8px 8px rgba(0,0,0,0.25);
    background: var(--color-white);
    color: var(--color-black);
}

.btn-secondary:disabled {
    background: var(--color-white);
    opacity: var(--opacity);
    color: var(--color-black); 
}


/*--SPACES--*/

.textespace {
    position: absolute;
    display: flex;
    margin-left: 70px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}
.space1 {
    height: 6px;
    width: 6px;
    border: solid;
    border-color: var(--color-pluie);

}

.space2 {
    height: 12px;
    width: 12px;
    border: solid;
    border-color: var(--color-pluie);
    margin-top: 20px;
}

.space3 {
    height: 18px;
    width: 18px;
    border: solid;
    border-color: var(--color-pluie);
    margin-top: 20px;
}

.space4 {
    height: 36px;
    width: 36px;
    border: solid;
    border-color: var(--color-pluie);
    margin-top: 20px;
}

.space5 {
    height: 48px;
    width: 48px;
    border: solid;
    border-color: var(--color-pluie);
    margin-top: 20px;
}



/*--EFFECTS--*/

.effect1 {
    height: 36px;
    width: 36px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-primary);
}

.effect2 {
    height: 36px;
    width: 36px;
    margin-top: 20px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-secondary-hover);
}

.effect3 {
    height: 36px;
    width: 36px;
    margin-top: 20px;
    background-color: var(--color-white);
    box-shadow: var(--bow-shadow-1);
}

.texteeffect {
    position: absolute;
    display: flex;
    margin-left: 70px;
    margin-top: 5px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size-14);
}