



:root {

    /*--COLOR--*/
    --color-greenobscuro: #18604A;
    --color-lagune: #B0F5E2; 
    --color-grey: #BEBEBE; 
    --color-greylight: #F1F1F1;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-pluie: #6E99A9;
    --color-aiguemarine: #559CFF;
    --opacity: 0.8;

    /*--SPACES--*/

    --space-sm: 10px;

    /*--BORDER AND RADIUS--*/
    --border-radius: 33px;
    --border-primary-hover: 1px;
    --border-radius-back: 50px 0px 0px 50px;
    --border-radius-20: 20px;
    --border-radius-img: 120px;

    /*--FONT--*/
    --font-family: 'nunito', serif;
    --font-style-habitude: normal;
    --font-style-gras: bold;
    --font-color: #18604A;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-18: 18px;
    --font-size-14: 14px;
    --font-size-12: 12px;

/*--SHADOWS--*/
    --box-shadow-primary: 4px, 8px, 8px, rgba(65,65,65,0.25);
 

    /*--MARGIN--*/

    --margin-left-background: 117px;
    --margin-top-nackground: 138px;
    --margin-top-h1: 5px;
    --margin-top-h2: 8px;
    --margin-top-concert: 200px;
    --margin-top-welove: 30px;
    --margin-top-saywho: 550px;
    --margin-top-say: 100px;
    --margin-left-primary: 20px;
    --margin-top-primary: 50px;
}





.container 
{
    background-color: var(--color-greylight);
    width: 375px;
    height: 812px;
    position: relative;
    align-items: flex-start;
    display: flex;

}



.formbackground {
    position: absolute;
    width:258px; 
    height:674px;
    border-radius: var(--border-radius-back);
    margin-left: var(--margin-left-background);
    margin-top: var(--margin-top-nackground);
    background: linear-gradient(123.46deg, #B0F5E2 21.29%, #11BB74 94.65%);
}

h1 {
font-style: var(--font-style-gras);
font-family: var(--font-family);
color: var(--color-greenobscuro);
font-size: var(--font-size-24);
height: 20px;
text-decoration: line-through;
margin-top: var(--margin-top-h1);
}


h2 {
    font-size: var(--font-size-14);
    font-style: var(--font-style-gras);
    height: 10px;
    margin-top: var(--margin-top-h2);
    font-family: var(--font-family);
    color: var(--color-greenobscuro);
    
}


#concerts{
position: relative;
display: flex;
text-align: left;
width: 500px;
height: 200px;
margin-top: var(--margin-top-concert);
border-radius: var(--border-radius-20);

}

.welove {
    margin-top: var(--margin-top-welove);
    width: 176px;
    height: 126px;
}


.textwelove {
    height: 176px;
    width: 170px;
    padding-left: 20px;
}

#fond {
    position: relative;
}

.picto {
    position: absolute;
    left: 260px;
    top: -80px;
}


#saywho{
position: relative;
display: flex;
text-align: left;
width: 500px;
height: 200px;
margin-top: var(--margin-top-saywho);
border-radius: var(--border-radius-20);
left: -365px;
}

.say{
    margin-top: var(--margin-top-say);
    width: 176px;
    height: 126px;

}

.textsaywho {
    height: 176px;
    width: 170px;
    padding-left: 20px;
    padding-top: 65px;
}




img{
    
    border-radius: var(--border-radius-img);
    padding-right: 100px;
    top: 350px;
}

p {
    font-style: normal;
    font-size: var(--font-size-12);
    height: 50px;
    font-family: var(--font-family);
    color: var(--color-greenobscuro);

}


.findepage {
    background-color: var(--color-pluie);
    width: 1140px;
    height:200px;
}


/*DESIGN SYSTEM*/

#designsystem {
    margin-top: 50px;
}


.swatches {
    height: 3em;
    width: 3em;
}

.greenobscuro {
    background-color: var(--color-greenobscuro);
    margin-left: 20px;
}

.lagune {
    background-color: var(--color-lagune);
    margin-left: 20px;
    margin-top: 20px;
}

.greylight {
    background-color: var(--color-greylight);
    margin-left: 20px;
    margin-top: 20px;
}

.grey {
    background-color: var(--color-grey);
    margin-left: 20px;
    margin-top: 20px;
}


/*--BOUTONS--*/

/*--PRIMARY--*/

.btn-primary {
    padding: var(--space-sm);
    background: var(--color-white);
    border-radius: var(--border-radius);
    width: 203px;
    height: 63px;
    left: 50px;
    top: 281px;
    font-size: var(--font-size-18);
    font-family: var(--font-family);
    color: var(--color-black);
    font-style: var(--font-style-habitude);
    text-align: center;
    border: none;
    margin-left: var(--margin-left-primary);
    margin-top: var(--margin-top-primary);

}


.leger {
    opacity: var(--opacity);
}

.btn-primary:focus {
    box-shadow: var(--box-shadow-primary);
    background: var(--color-white);
    border: none;
}

.btn-primary:hover {
    color: var(--color-white);
    background: none;
    border: solid;
    border-width: var(--border-primary-hover);
    border-color: var(--color-white);}

.btn-primary:active {
    background: var(--color-aiguemarine);
    color: var(--color-white);
    border: none;
}

.btn-primary:disabled {
    background: var(--color-white);
    opacity: var(--opacity);
    color: var(--color-black); 
}






.textgroup {
    font-size: 36px;
    font-style: bold;
    font-family: var(--font-family);
    color: var(--color-grey);
    position: absolute;
    padding-left: 100px;
    padding-top: 40px;
}